/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #254441;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #254441;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

.mv-svg-title {
	left: 50%;
	max-width: 80%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 560px;
}
.mv-svg-title .text-path {
	display: block;
	fill: #fff;
	fill-opacity: 0;
	stroke: url(#gradation-1);
	stroke-linecap: round;
	stroke-linejoin: round;
}
.mv-svg-title .text-path.active {
	fill-opacity: 1;
	transition: fill-opacity 0.5s ease;
}
.mv-svg-title .text-path:nth-child(1) {
	animation: dash1 2s linear forwards;
	animation-delay: 0s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(2) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.1s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(3) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.2s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(4) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.3s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(5) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.4s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(6) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.5s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(7) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.6s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(8) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.7s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(9) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.8s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(10) {
	animation: dash1 2s linear forwards;
	animation-delay: 0.9s;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(11) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(12) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.04s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(13) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.08s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(14) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.12s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(15) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.16s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(16) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.2s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(17) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.24s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(18) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.28s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(19) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.32s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(20) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.36s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(21) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.4s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(22) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.44s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(23) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.48s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(24) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.52s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(25) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.56s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(26) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.6s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(27) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.64s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(28) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.68s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(29) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.72s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(30) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.76s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(31) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.8s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(32) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.84s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(33) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.88s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(34) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.92s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(35) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 0.96s;
	stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(36) {
	animation: dash1_en 2s linear forwards;
	animation-delay: 1s;
	stroke-dasharray: 200;
}
@keyframes dash1 {
	0% {
		stroke-dashoffset: 800;
		stroke-width: 3px;
   }
	50% {
		stroke-dashoffset: 1600;
		stroke-width: 0.1px;
   }
	50.1% {
		stroke-dashoffset: 800;
   }
	80% {
		stroke-width: 2px;
		fill: #d2b;
		fill-opacity: 0;
   }
	100% {
		stroke-dashoffset: 0;
		stroke: #fff;
		stroke-width: 0;
		fill: #fff;
		fill-opacity: 1;
		stroke-dasharray: 400;
   }
}
@keyframes dash1_en {
	0% {
		stroke-dashoffset: 200;
		stroke-width: 2px;
   }
	50% {
		stroke-dashoffset: 400;
		stroke-width: 0.1px;
   }
	50.1% {
		stroke-dashoffset: 200;
   }
	80% {
		stroke-width: 1px;
		fill: #d2b;
		fill-opacity: 0;
   }
	100% {
		stroke-dashoffset: 0;
		stroke: #fff;
		stroke-width: 0;
		fill: #fff;
		fill-opacity: 1;
   }
}
